
@{
    ViewData["Title"] = "Archived_Rent_Contracts";

    ViewData["PageName"] = "tables_basic";
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i>  Archived Rent Contracts";
    ViewData["Category1"] = "html";
    ViewData["PageDescription"] = "";

}

<div class="row">
    <div class="col-xl-12">


        <h1>
            <span class="fw-900">  List Archived Rent Contracts </span>
        </h1>

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2 style="font-size: 150%; ">
                    <span class="icon-stack icon-stack-lg">
                        <i class="base-2 icon-stack-3x color-primary-400"></i>
                        <i class="base-3 icon-stack-2x color-primary-600 opacity-70"></i>
                        <i class="fal fa-lightbulb icon-stack-1x text-white opacity-90"></i>
                    </span>   <span class="fw-500  text-primary"> Total Archived :  </span> &nbsp;<span class="color-danger-500"> 554  </span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 az-datatable">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>#</th>
                                <th>   Contract No. </th>
                                <th>Building </th>
                                <th>Unit </th>
                                <th>Tenant </th>
                                <th>Lease Start Date </th>
                                <th>Lease Rent in Months </th>
                                <th>Lese End Date </th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>   Contract No. </th>
                                <th>Building </th>
                                <th>Unit </th>
                                <th>Tenant </th>
                                <th>Lease Start Date </th>
                                <th>Lease Rent in Months </th>
                                <th>Lese End Date </th>



                                <th>
                                    <div class="btn-group" id="js-demo-nesting" role="group" aria-label="Button group with nested dropdown">

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Operation</button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" href="javascript:void(0)">	Details</a>


                                                <a class="dropdown-item" href="javascript:void(0)">Delet</a>


                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>



                        </tbody>
                        <tfoot class="thead-themed">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>



