<a class="btn btn-primary btn-lg btn-block waves-effect waves-themed" asp-action="Create" asp-route-id="@ViewBag.id">
    <span>Add New</span>
</a>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
