@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model string

<div class="btn-group">
    <a class="btn btn-success" asp-action="Details" title="Details" asp-route-id=@Model>
        Details
    </a>
    <a class="btn btn-warning" asp-action="Edit" title="Edit" asp-route-id=@Model>
        Edit
    </a>
    <a class="btn btn-danger"  asp-action="Delete" title="Delete" asp-route-id=@Model>
        Delete
    </a>
</div>
@*<span>Details</span>
    <span>Edit</span>
    <span>Delete</span>*@
