
@media print {


    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    button {
        display: none;
    }

 /*   body {
        margin: 0;
    }*/


    .page-header-space {
        height: 15mm;
    }

    .page-footer-space {
        height: 15mm;
    }


    html,
    body {
        width: 210mm;
        height: 297mm;
        margin-top: 10mm !important;
        margin-bottom: 10mm !important;
        margin-right: 10mm !important;
        font-family: 'Noto Kufi Arabic' !important;
    }

    .invoice-page {
        -webkit-print-color-adjust: exact;
        font-family: 'Noto Kufi Arabic' !important;
        margin-top: 10mm !important;
        margin-bottom: 10mm !important;
        margin-right: 10mm !important;
    }







    .page-break {
        display: block;
        page-break-before: always;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
        padding: 0;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    div[data-size="A4"] {
        margin: 0;
        -webkit-box-shadow: 0;
        box-shadow: 0;
        padding: 3em 5em !important;
    }

    .breadcrumb,
    .subheader {
        display: none;
    }

    *:not(.keep-print-font) {
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 11pt !important;
    }

    table {
        font-size: 100% !important;
        font-family: 'Noto Kufi Arabic' !important;
    }


    .text_ar {
        direction: rtl !important;
        text-align: right;
        font-family: 'Noto Kufi Arabic' !important;
        padding-left: 30px !important;
        width: 50% !important;
    }

        .text_ar h1;h2;h3;h4 {
            font-family: 'Noto Kufi Arabic'!important;
        }

    .text_en {
        padding-right: 30px !important;
        width: 50% !important;
    }

    .fristPage {
        font-size: 40px !important;
        color: #898C8D !important;
    }

    .ConBTitle {
        font-weight: bold !important;
        direction: rtl !important;
        text-align: right;
        font-family: 'Noto Kufi Arabic'!important;
        padding-left: 5px !important;
        float: right;
        font-size: 14px !important;
    }

    .ConBwrite {
        font-weight: normal !important;
        direction: rtl !important;
        text-align: right;
        font-family: 'Noto Kufi Arabic'!important;
        padding-left: 30px !important;
        float: right;
        font-size: 14px !important;
    }


    .fontArabic {
        font-family: 'Noto Kufi Arabic'!important;
    }

    .wTD {
        width: 50% !important
    }

    .txtCB {
        direction: rtl !important;
        text-align: right;
        font-family: 'Noto Kufi Arabic'!important;
        float: right;
    }

    .txtCB2 {
        direction: rtl !important;
        text-align: center;
        font-family: 'Noto Kufi Arabic'!important;
    }

    .segna {
        text-align: center;
        font-weight: bold;
        font-family: 'Noto Kufi Arabic'!important;
    }

    hr {
        border: none !important;
        width: 50%;
    }

    .number {
    }

   

    .h-01 {height:550px!important; }

    .arFo { font-family: 'Noto Kufi Arabic' !important; }
    h1{ font-family: 'Noto Kufi Arabic' !important; }
        h2{ font-family: 'Noto Kufi Arabic' !important; }
            h3{ font-family: 'Noto Kufi Arabic' !important; }
                h4{ font-family: 'Noto Kufi Arabic' !important; }
                    h5{ font-family: 'Noto Kufi Arabic' !important; }
                        h61{ font-family: 'Noto Kufi Arabic' !important; }



    .txtCB {
        direction: rtl !important;
        text-align: right;
        font-family: 'Noto Kufi Arabic' !important;
        float: right;
    }

    .txtCB2 {
        direction: rtl !important;
        text-align: center;
        font-family: 'Noto Kufi Arabic' !important;
    }

    .sizeA_ar {
        font-size: 18px !important;
        font-weight: 600 !important;
        font-family: 'Noto Kufi Arabic' !important;
    }


    .sizeB_ar {
        font-size: 15px !important;
        font-weight: 600 !important;
    }



    .sizeA_en {
        font-size: 18px !important;
        font-weight: 600 !important;
        font-family:Arial!important;
    }


    .sizeB_en {
        font-size: 15px !important;
        font-weight: 600 !important;
        font-family: Arial !important;
    }


}

@page {
    size: auto;
    margin: 0;
}

div[data-size="A4"] {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    background: url(../img/svg/pattern-1.svg) no-repeat center bottom;
    background-size: cover;
    padding: 4rem;
    position: relative;
}


@media only screen and (max-width: 992px) {
    div[data-size="A4"],
    .container {
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


.sizeA_ar {
    font-size: 18px !important;
    font-weight: 600 !important;
    font-family: 'Noto Kufi Arabic' !important;
}

.sizeB_ar {
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Noto Kufi Arabic' !important;
}


.sizeA_en {
    font-size: 18px !important;
    font-weight: 600 !important;
    text-transform:capitalize;
        font-family:Arial!important;
}


.sizeB_en {
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: Arial !important;
}


.text_ar {
    direction: rtl !important;
    text-align: right;
    font-family: 'Noto Kufi Arabic' !important;
    padding-left: 30px !important;
    width: 50% !important;
}

    .text_ar h1;h2;h3;h4 {
        font-family: 'Noto Kufi Arabic' !important;
    }

.text_en {
    padding-right: 30px !important;
    width: 50% !important;
}

.fristPage {
    font-size: 40px !important;
    color: #898C8D !important;
}

.ConBTitle {
    font-weight: bold !important;
    direction: rtl !important;
    text-align: right;
    font-family: 'Noto Kufi Arabic' !important;
    padding-left: 5px !important;
    float: right;
    font-size: 14px !important;
}

.ConBwrite {
    font-weight: normal !important;
    direction: rtl !important;
    text-align: right;
    font-family: 'Noto Kufi Arabic' !important;
    padding-left: 30px !important;
    float: right;
    font-size: 14px !important;
}


.fontArabic {
    font-family: 'Noto Kufi Arabic' !important;
}

.wTD {
    width: 50% !important
}

.txtCB {
    direction: rtl !important;
    text-align: right;
    font-family: 'Noto Kufi Arabic' !important;
    float: right;
}

.txtCB2 {
    direction: rtl !important;
    text-align: center;
    font-family: 'Noto Kufi Arabic' !important;
}

.segna {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Kufi Arabic' !important;
}

hr {
    border: none!important;
    width: 50%;
    margin-top: 30px;
}

.number {
    font-size: 15px !important
}


/*# sourceMappingURL=page-invoice.css.map */
