
@{
    ViewData["Title"] = "petty_Cash_Request";
    ViewData["PageName"] = "petty_Cash_Request";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-plus-circle'></i>  petty_Cash_Request";
    ViewData["PageDescription"] = "petty_Cash_Request";
    ViewData["Category1"] = "Page Views";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/page-invoice-2.css">
}.
<div class="container">
    <div data-size="A4">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center mb-5">
                    <h2 class="fw-300 display-4 fw-500 color-primary-600 keep-print-font pt-4 l-h-n m-0">
                        Petty Cash Request
                        <div class="text-dark fw-700 h1 mb-0 keep-print-font">
                            RV. No: 4654654646
                        </div>
                       
                        <img id="barcode" alt="" class="position-absolute pos-top pos-right height-mobile-auto mt-1 " src="/img/logo_print.png">
                    </h2>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <strong>Issue Date:  </strong>
                                </td>
                                <td style="width:70%">
                                    05/04/2019
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Compound:  </strong>
                                </td>
                                <td>
                                    Daar
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Unit:  </strong>
                                </td>
                                <td>
                                    105
                                </td>
                            </tr>





                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">
                        <tbody>
                            <tr>
                                <td style="width:32%">
                                    <strong>
                                        End Date :
                                    </strong>
                                </td>
                                <td style="width:68%">
                                    28/04/2019
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>RV. No.:  </strong>
                                </td>
                                <td>
                                    #5656565
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <strong>Advance Payment  :  </strong>
                                </td>
                                <td class="text-danger fw-700">
                                    SAR 54546
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <h4 class="fw-700"> Reason of Request </h4>
                <p> sdfsd fsdfs  dfdf sdfsd fsdfs  dfdfsdfsd fsdfs dfs  dfdf sdfsd fsdfs  dfdfsdfsd fsdfs  dfdfs  dfdf sdfsd fsdfs  dfdfsdfsd fsdfs  dfdfs  dfdf sdfsd fsdfs  dfdfsdfsd fsdfs  dfdfs  dfdf sdfsd fsdfs  dfdfsdfsd fsdfs  df dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdfsdfsd fsdfs  dfdf</p>
            </div>
            </div>




          <div class="row" style="margin-top:-20px">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table mt-5">
                                        <thead>
                                            <tr>
                                                <th class="text-center border-top-0 table-scale-border-bottom fw-700" style="width:5%">#</th>
                                                <th class="border-top-0 table-scale-border-bottom fw-700" style="width:17%">Item</th>
                                                <th class="border-top-0 table-scale-border-bottom fw-700">Description</th>

                                                <th class="text-right border-top-0 table-scale-border-bottom fw-700">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center fw-700">01</td>
                                                <td class="text-left strong">
                                                    Electric / الكهرباء
                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">02</td>
                                                <td class="text-left strong">
                                                    Plumbing / السباكة

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">03</td>
                                                <td class="text-left strong">
                                                    Paint / الدهان

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">04</td>
                                                <td class="text-left strong">
                                                    Tiles / الارضيات

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">05</td>
                                                <td class="text-left strong">
                                                    Toilet / الحمامات

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">06</td>
                                                <td class="text-left strong">
                                                    Water Heater / سخان المياه

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">07</td>
                                                <td class="text-left strong">
                                                    Kitchen / المطبخ

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">08</td>
                                                <td class="text-left strong">
                                                    A/C / التكيف

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">09</td>
                                                <td class="text-left strong">
                                                    Carpentary / النجارة

                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>

                                            <tr>
                                                <td class="text-center fw-700">10</td>
                                                <td class="text-left strong">
                                                    Waste / السكراب


                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>


                                            <tr>
                                                <td class="text-center fw-700">11</td>
                                                <td class="text-left strong">
                                                    Others / اخرى



                                                </td>
                                                <td class="text-left strong">
                                                    Description
                                                </td>

                                                <td class="text-right">SAR 999.00</td>
                                            </tr>













                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            

                            <div class="col-sm-4 ml-sm-auto ">
                                <table class="table table-clean table-responsiv">
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="text-right"><strong>  SAR 8,497.05  </strong> </td>
                                        </tr>

                                      
                                        <tr class="table-scale-border-top border-left-0 border-right-0 border-bottom-0">
                                            <td class="text-left keep-print-font">
                                                <h4 class="m-0 fw-700 h2 keep-print-font color-primary-700">Net</h4>
                                            </td>
                                            <td class="text-right keep-print-font">
                                                <h4 class="m-0 fw-700 h2 keep-print-font">SAR 7,477.36</h4>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>








           <div class="row" style="margin-top:10px">
                            

                            <div class="col-sm-1 d-flex"> </div>


                            <div class="col-sm-12 d-flex">
                                <div class="table-responsive">
                                    <table class="" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th class="border-top-0 " style="text-align:center; width:20%" >
                                                    <span class="titleSegnat_en textB"> CEO </span>
                                                </th>

                                                <th class="border-top-0" style="text-align:center">
                                                    <span class="titleSegnat_en textB">  Operational Manager </span>
                                                </th>
                                                <th class="border-top-0" style="text-align:center">
                                                    <span class="titleSegnat_en textB">  Accounts </span>
                                                </th>
                                                <th class="border-top-0" style="text-align:center">
                                                    <span class="titleSegnat_en textB">  Maintenance Manager </span>
                                                </th>

                                                <th class="border-top-0" style="text-align:center">
                                                    <span class="titleSegnat_en textB">  Maintenance Representative </span>
                                                </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center; padding-top:30px"> </td>

                                                <td style="text-align:center; padding-top:30px"> ----------------------------- </td>

                                                <td style="text-align:center; padding-top:30px"> ----------------------------- </td>

                                                <td style="text-align:center; padding-top:30px"> ----------------------------- </td>

                                                <td style="text-align:center; padding-top:30px"> ----------------------------- </td>


                                            </tr>


                                        </tbody>




                                    </table>
                                </div>
                            </div>
                        </div>



                    



                </div>

            </div>



            @section ScriptsBlock {
            }





