
@{
    ViewData["Title"] = "Receipt";
    ViewData["PageName"] = "page_invoice";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-plus-circle'></i>  Receipt";
    ViewData["PageDescription"] = "Printable Invoice Page";
    ViewData["Category1"] = "Page Views";
}
@section HeadBlock {




    <link href="~/css/Receipt.css" rel="stylesheet" />
    <link href="~/css/arabicFont/notokufiarabic.css" rel="stylesheet" />

}
<div class="container">
    <div data-size="A4">

        <div class="row">


            <div class="col-sm-12">
                <div class="text-center">
                    <img src="~/img/logo_print.png" class=" pos-top mt-6 text-center " />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="text-center title_en">
                    Receipt Voucher
                </div>
            </div>


            <div class="col-sm-12">
                <div class="text-center fontArabic title_ar">
                    سند قبض
                </div>
            </div>


            <div class="col-sm-12">
                <div class="text-center title_en">
                    # 454662
                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-sm-12 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">
                        <tbody>
                            <tr>
                                <td class="titleTable_en">
                                    the Amount
                                </td>

                                <td class="ResultTable_en">
                                    132132 SAR
                                </td>


                                <td class="ResultTable_ar">
                                    41646 ريال
                                </td>

                                <td class="titleTable_ar">
                                    المبلغ
                                </td>

                            </tr>

                            <tr>
                                <td class="titleTable_en">
                                    Date
                                </td>

                                <td class="ResultTable_en">
                                    18 / 08 / 2020
                                </td>


                                <td class="ResultTable_ar">
                                    18 / 08 / 2020
                                </td>

                                <td class="titleTable_ar">
                                    التاريخ
                                </td>

                            </tr>

                            <tr>
                                <td class="titleTable_en">
                                    Name
                                </td>

                                <td class="ResultTable_en">
                                    Hisham Zaky Abd Al Alem Madien
                                </td>


                                <td class="ResultTable_ar">
                                    هشام زكي عبد العليم مدين
                                </td>

                                <td class="titleTable_ar">
                                    الأسـم
                                </td>

                            </tr>


                            <tr>
                                <td class="titleTable_en">
                                    The Sum of Riyals
                                </td>

                                <td class="ResultTable_en">
                                    Eight thousand five hundred
                                </td>


                                <td class="ResultTable_ar">
                                    ثمانية الاف وخمسمائة
                                </td>

                                <td class="titleTable_ar">
                                    مبلغ وقدرة / ريال
                                </td>

                            </tr>


                            <tr>
                                <td class="titleTable_en">
                                    Cash / Cheque No.
                                </td>

                                <td class="ResultTable_en">
                                    55230
                                </td>


                                <td class="ResultTable_ar">
                                    455454
                                </td>

                                <td class="titleTable_ar">
                                    نقداً / شيك رقم
                                </td>

                            </tr>



                            <tr>
                                <td class="titleTable_en">
                                    Bank
                                </td>

                                <td class="ResultTable_en">
                                    Sabe
                                </td>


                                <td class="ResultTable_ar">
                                    بنك ساب
                                </td>

                                <td class="titleTable_ar">
                                    بنك
                                </td>

                            </tr>


                            <tr>
                                <td class="titleTable_en">
                                    Date
                                </td>

                                <td class="ResultTable_en">
                                    28/11/2020
                                </td>


                                <td class="ResultTable_ar">
                                    28/11/2020
                                </td>

                                <td class="titleTable_ar">
                                    بتاريخ
                                </td>

                            </tr>

                            <tr>
                                <td class="titleTable_en">
                                    Being
                                </td>

                                <td class="ResultTable_en">
                                    January rent
                                </td>


                                <td class="ResultTable_ar">
                                    ايجار شهر يناير
                                </td>

                                <td class="titleTable_ar">
                                    وذلك عن:
                                </td>

                            </tr>

                            <tr>
                                <td class="titleTable_en">
                                    Property
                                </td>

                                <td class="ResultTable_en">
                                    55
                                </td>


                                <td class="ResultTable_ar">
                                    55
                                </td>

                                <td class="titleTable_ar">
                                    عقـار:
                                </td>

                            </tr>

                            <tr>
                                <td class="titleTable_en">
                                    Unit
                                </td>

                                <td class="ResultTable_en">
                                    12
                                </td>


                                <td class="ResultTable_ar">
                                    12
                                </td>

                                <td class="titleTable_ar">
                                    وحدة:
                                </td>

                            </tr>


                          

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <hr class="border-top-0 table-scale-border-bottom" style="width:100%" />

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="" style="width:100%">
                        <thead>
                            <tr>



                                <th class="border-top-0 " style="text-align:center">
                                    <span class="titleSegnat_ar">  اعدها  </span> <br />
                                    <span class="titleSegnat_en ">  Prepared by </span>
                                </th>

                                <th class="border-top-0" style="text-align:center">
                                    <span class="titleSegnat_ar"> توقيع المحاسب </span> <br />
                                    <span class="titleSegnat_en ">  Accountant </span>
                                </th>

                                <th style="text-align:center">
                                    <span class="titleSegnat_ar"> توقيع المستلم </span> <br />
                                    <span class="titleSegnat_en ">  Receiver’s Signature </span>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center; padding-top:30px"> ------------------------------------------------------- </td>
                                <td style="text-align:center; padding-top:30px"> ------------------------------------------------------- </td>
                                <td style="text-align:center; padding-top:30px"> ------------------------------------------------------- </td>


                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr style="margin-top:370px" />
        <hr class="border-top-0 table-scale-border-bottom" style="width:100%; padding:0px; margin:0px"  />

        <div class="row">
            <div class="col-sm-12">

                <p class="mt-2 text-muted mb-0 fontArabic" style="text-align:center ">
                    7249 الأمير حمود بن عبد العزيز - الخبر 34442 - 3972 المملكة العربية السعودية - ت : 00966138020059 س.ت : 2051221520
                </p>
                <p class="mt-2 text-muted mb-0" style="text-align:center">
                    7279 Prince Hamoud bin Abdulaziz St. Al Khobar 34442 KSA. T: 00966138020059. CR. 2051221520, www.az-ltd.com
                </p>
            </div>
        </div>
    </div>
        </div>
        @section ScriptsBlock {
        }
