@model SmartAdmin.WebUI.Models.CompoundBuildings
@{
    ViewData["Title"] = "Delete Building";
    ViewData["PageName"] = "Building " + ViewBag.CompoundName;
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i>Delete Building";
    ViewData["Category1"] = "Compounds";
    ViewData["PageDescription"] = "";
}
<div class="was-validated">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel ">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Delete Building
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Name/Number </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" required autocomplete="off" disabled asp-for="BuildingNumber">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Value </label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" autocomplete="off" disabled asp-for="BuildingValue" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Area </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="BuildingArea">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Year</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" disabled asp-for="BuildingYear" required>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">For Families</label>
                                    <div class="custom-control custom-checkbox col-sm-9">
                                        <label class="col-form-label col-sm-3 text-sm-right form-label" for="defaultUnchecked"></label>
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked" asp-for="ForFamilies">

                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">For Families</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" asp-for="ForFamilies" disabled class="form-control" id="customSwitch1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Remarks </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="BuildingNotes">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="BuildingAddress">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Yearly Income </label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" disabled asp-for="BuildingYearlyIncome" id="WaterPaidAmount" required>

                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    GPS url(Link)
                                </label>
                                <div class="col-sm-9">
                                    <input type="url" class="form-control" disabled asp-for="GPSLink" id="WaterRemainingAmount">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3 text-sm-right form-label" for="example-fileinput">Building Picture</label>
                                <div class="col-sm-9">
                                    @if (!string.IsNullOrWhiteSpace(Model.BuildingPicture))
                                    {
                                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#imgContract"><strog>View Image</strog></a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-default"><strog>No Image</strog></a>
                                    }
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Water Meter Number
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" disabled class="form-control" asp-for="MeterWaterNumber">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Owner
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="IDOwner" disabled class="select2 form-control w-100" asp-items="ViewBag.IDOwner" required>
                                        <optgroup label="Select Owner">
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group  alert alert-primary alert-dismissible text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdBuilding" />
                        <button class="btn btn-danger ml-auto waves-effect waves-themed" type="submit">Delete</button>
                        <button type="button" class="btn btn-secondary ml-auto waves-effect waves-themed" onclick="back()">Back</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade" id="imgContract">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
                    <div class="alert alert-info" role="alert">
                        <a href="#" data-dismiss="modal" class="close">&times;</a>
                        <h3 class="modal-title" >Building Image</h3>
                    </div>
                </div>*@
            <div class="modal-body">
                <img style="width:100%" src="~/assets/Buildings/@Model.BuildingPicture" alt="@Model.BuildingPicture" />
            </div>
            @*<div class="modal-footer">
                    <div class="alert alert-light" role="alert">
                        <a href="#" data-dismiss="modal" class="close btn btn-default">Close</a>
                    </div>
                </div>*@
        </div>

    </div>
</div>
@section ScriptsBlock{
    <script>
        function back() {
            var fallbackUrl = "/CompoundBuildings/Index?IdCompound=" + $("#IdCompound").val();
            var prevPage = window.location.href;

            window.history.go(-1);

            setTimeout(function () {
                if (window.location.href == prevPage) {
                    window.location.href = fallbackUrl;
                }
            }, 500);
        }
    </script>
}
