@model SmartAdmin.WebUI.Models.CompoundsViewModels.CompoundsVM
@{
    ViewData["Title"] = "Compound Details";
    ViewData["PageName"] = "compounds";
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i> Compounds";
    ViewData["Category1"] = "Compounds";
    ViewData["PageDescription"] = "";
}
<link href="~/lou-multi-select-57fb8d3/css/multi-select.css" rel="stylesheet" />
<div class="row">
    <div class="col-xl-12">
        <div id="panel-6" class="panel">
            <div class="panel-hdr bg-primary-700 bg-success-gradient">
                <h2>
                    Compound details
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="card-body">
                <form class="form-horizontal was-validated" asp-action="Edit">
                    @if (ViewBag.AlertSaveErr != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fal fa-times"></i>
                                </span>
                            </button>
                            <div class="d-flex flex-start w-100">
                                <div class="d-flex flex-fill">
                                    <div class="flex-fill">
                                        <p>  @ViewBag.AlertSaveErr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    District
                                </label>
                                <div class="col-sm-9">
                                    <select class="select2 form-control w-100" asp-for="IdDistrict" disabled asp-items="ViewBag.IdDistrict">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Compound Name
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " disabled asp-for="compoundName" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Notes
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="Notes">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Service Water Meter No
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="serviceWaterMeterNo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    One Water Meter All Buildings
                                </label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" disabled asp-for="oneWaterMeterAllBld">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Buildings Water Meter No
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled asp-for="waterMeterAllBldNo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Users </label>
                                <div class="col-sm-9">
                                    <select class="multiSelect22 select-control" disabled multiple="multiple" asp-for="Users" asp-items="ViewBag.mOutUsers">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group  alert alert-primary alert-dismissible text-center">
                        <a class="btn btn-secondary ml-1 waves-effect waves-themed" href="@Url.Action("Index")">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lou-multi-select-57fb8d3/js/jquery.multi-select.js"></script>
    <script>
        $(function ()
        {
            $('.multiSelect22').multiSelect();
            $('#oneWaterMeterAllBld').change(function () {
                if (!document.getElementById('oneWaterMeterAllBld').checked) $('#waterMeterAllBldNo').val("");
                else $('#waterMeterAllBldNo').val(@Model.waterMeterAllBldNo);
                $('#waterMeterAllBldNo').prop('readonly', !document.getElementById('oneWaterMeterAllBld').checked);
            });
            $('#oneWaterMeterAllBld').trigger('change');
        });
    </script>
}