@{ 
	ViewData["Title"] = "Introduction";
	ViewData["PageName"] = "intel_introduction";
	ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Introduction";
	ViewData["Category1"] = "Application Intel";
	ViewData["PageDescription"] = "A brief introduction to this WebApp";
}
@section HeadBlock {}
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
        <h3 class="mb-g">
            Hi Everyone,
        </h3>

        <h3>

            Creativity is Key To Successful Real Estate Development
        </h3>
        <p>
            AZ Real Estate Development Co is a leading Commercial and Residential real estate, property management, and construction company in Alkhobar, Kingdom of Saudi Arabia. With many years of successful experiences in real estate development, property management, and constructions, today AZ Real Estate has presence in London, UK and Manama, Bahrain.


        </p>




        <h3>

            AZ Saudi Arabia

        </h3>
        <p>
            AZ Real Estate Development Co. is a leading real estate development and property management company in Saudi Arabia. We provide a large variety of quality real estate options and services that are available for our clients to choose from. Our expertise is in the whole range of real estate activities and below are some of our services.

        </p>
        <h3>
            Renting and Leasing Administration
        </h3>
        <p>
            With more than 2,000 units of residential villas, apartments, and commercial property portfolios internationally. We offer unique renting and leasing services, which will not only be cost efficient for owners, but also gives them peace of mind and optimizes their investment by allowing it to reach its maximum potential.

        </p>

        <h3>
            Contract Management
        </h3>
        <p>
            We provide a service to manage existing contracts and evaluate their performance. Additionally, we draft, review, negotiate, and execute contracts with advice from legal counsel for example rental/lease agreements and sales/purchasing agreements, review contractual performance, renewal and amendment of contracts, liaising with legal representatives or legal counsel to manage compliance.

        </p>

        <p>
            Sincerely,<br>
            The @ViewBag.App <br>
        </p>
    </div>
<h3>
	SmartAdmin Team
	
</h3>
<div class="d-flex flex-wrap demo demo-h-spacing mt-3 mb-3">
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/sunny.png" alt="Hisham M." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
            <h5 class="m-0">
                Hisham Madien (UI/UX Expert)
                <small class="m-0 fw-300">
                    Lead Author
                </small>
            </h5>
            <a href="https://hm.alamaar.net" class="text-info fs-sm" target="_blank">hm.alamaar.net</a> - 
			<a href="https://hm.alamaar.net" class="text-info fs-sm" target="_blank" title="Contact Sunny"><i class="fal fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/josh.png" alt="Jos K." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Mahmoud Adel. (ASP.NET Developer)
                <small class="m-0 fw-300">
                    Senior Developer
                </small>
			</h5>
			<a href="#" class="text-info fs-sm" target="_blank"> </a> - 
			<a href="#" class="text-info fs-sm" target="_blank" title="Contact Jos"><i class="fal fa-envelope"></i></a>
		</div>
	</div>

	
</div>

@section ScriptsBlock {}
